[submodule "audits/t-swap-audit/lib/forge-std"]
	path = audits/t-swap-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "audits/t-swap-audit/lib/openzeppelin-contracts"]
	path = audits/t-swap-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "competitive_audits/voting_booth/lib/forge-std"]
	path = competitive_audits/voting_booth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "competitive_audits/voting_booth/lib/openzeppelin-contracts"]
	path = competitive_audits/voting_booth/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "7-boss-bridge-audit"]
	path = 7-boss-bridge-audit
	url = https://github.com/Cyfrin/7-boss-bridge-audit.git
