[submodule "audits/t-swap-audit/lib/forge-std"]
	path = audits/t-swap-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "audits/t-swap-audit/lib/openzeppelin-contracts"]
	path = audits/t-swap-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
