# Compiler files
cache/
out/

# ignore submodules
lib/forge-std
lib/openzeppelin-contracts

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
