[submodule "boss-bridge-audit/lib/forge-std"]
	path = boss-bridge-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "boss-bridge-audit/lib/openzeppelin-contracts"]
	path = boss-bridge-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
